<h1>Waiter Schedule</h1>

<form action="/days" method="POST">

  <body>
<p class="success">{{successMsg}}</p>
    {{!-- <table>
      {{#each days}}
        <tr>
          <th>{{@key}}</th>
          {{#each this}}
            <td class="{{applyClassName ../this}}">{{users}}</td>
          {{/each}}
        </tr>
      {{/each}}

    </table> --}}
<table>
  <tr>
    {{#each days}}
      <th>{{@key}}</th>
    {{/each}}
  </tr>
  <tr>
    {{#each days}}
      {{#each this}}
        <td class="{{applyClassName ../this}}">{{users}}</td>
      {{/each}}
    {{/each}}
  </tr>
</table>

    <button type="submit" formaction="/reset"
                  onclick="return confirm('Are you sure you want to clear schedule?')">Reset</button>
  </body>
</form>