<script>
    setTimeout(function () {
        document.querySelector(".success").remove();
    }, 3000)
</script>
<h1>Waiter Schedule</h1>


<form action="/days" method="POST">

  <body>
<p class="success">{{successMsg}}</p>
<table>
  {{#each days}}
    <tr>
      <th>{{@key}}</th>
      {{#if this.length}} <!-- Check if there are any users/waiters for the current day -->
        {{#each this}}
          <td class="{{applyClassName ../this}}">{{users}}</td>
        {{/each}}
      {{else}}
        <td colspan="1">No waiters available</td>
      {{/if}}
    </tr>
  {{/each}}
</table>



    <button type="submit" formaction="/reset"
                  onclick="return confirm('Are you sure you want to clear schedule?')">Reset</button>
  </body>
</form>