<script>
    setTimeout(function () {
        document.querySelector(".success").remove();
    }, 3000)
</script>
<h1>Waiter App</h1>

<h1>Welcome, {{username}}!</h1>

<p class="success">{{successMsg}}</p>
<p class="error">{{errorMsg}}</p>

<form action="/waiters/{{username}}" method="POST">

{{#each scheduleDays}}
    <input id="{{id}}" type="checkbox" name="checkday" class="check" value="{{id}}" {{#if checked}} checked {{else}} unchecked {{/if}} >
    <label for="{{id}}">{{days}}</label>
{{/each}}

    <button type="submit">Update</button>

</form>

</body>

</html>